---
layout: page
title: "Momo Feng"
subtitle: Data & Tech Lover - Data Engineer New Grad
css: "/assets/css/index.css"
share-img: /assets/img/IMG_3062.JPG
share-title: "Momo Feng - Data Engineer New Grad"
share-description: "Current Master student at WUSTL studying engineering in data analytics and statistics. Graduated from UNC in a Computer Science & Mathematics major. Previously a data engineer at Amazon, iQIYI, WUSTL, and AVIC Securities."
cover-img:
    - "/assets/img/personal_snow_virginia_2019.jpg" : "Beech Mountain, VA (2019)"
    - "/assets/img/personal_birthday_2021.jpg" : "Chapel Hill, NC (2021)"
    - "/assets/img/personal_graduation_2022.JPG" : "Chapel Hill, NC (2022)"
    - "/assets/img/personal_amazonintern_2023.JPG" : "Nashville, TN (2023)"
    - "/assets/img/personal_big.JPG" : "Boston, MA (2023)"
---

<div class="row">
    <div class="col-md-12">
      <p>Hi, this is Momo Feng. </p>
      <ul>
          <li>A current Master student at WUSTL studying Engineering in Data analytics and Statistics</li>
          <li>A graduate from UNC in Computer Science & Mathematics major</li>
          <li>A previous data engineer intern at Amazon, iQIYI, and AVIC Securities</li>
          <li>A previous data researcher at WUSTL, and Tsinghua University</li>
      </ul>
      <p>My resume can be found <a href="assets/XingeFeng_Resume.pdf" target="_blank">here</a>.</p>
    </div>
</div>



{% assign posts = paginator.posts | default: site.posts %}

<div class="posts-list" id="experience">
  <h1>Work Experience</h1>

    {% for post in posts %}
  <article class="post-preview">

    {%- capture thumbnail -%}
      {% if post.thumbnail-img %}
        {{ post.thumbnail-img }}
      {% elsif post.cover-img %}
        {% if post.cover-img.first %}
          {{ post.cover-img[0].first.first }}
        {% else %}
          {{ post.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}
    {% assign thumbnail=thumbnail | strip %}

    {% if site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-normal">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}
    {% endif %}

    <a href="{{ post.url | absolute_url }}">
      <h2 class="post-title">{{ post.title }}</h2>

      {% if post.subtitle %}
        <h3 class="post-subtitle">
        {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>

    {% if thumbnail != "" %}
    <div class="post-image post-image-small">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    {% unless site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-short">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    <div class="post-entry">
      {% assign excerpt_length = site.excerpt_length | default: 50 %}
      {{ post.excerpt | strip_html | xml_escape | truncatewords: excerpt_length }}
      {% assign excerpt_word_count = post.excerpt | number_of_words %}
      {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
      {% endif %}
    </div>
    {% endunless %}

    {% if site.feed_show_tags != false and post.tags.size > 0 %}
    <div class="blog-tags">
      Keywords:
      {% for tag in post.tags %}
      <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
    </div>
    {% endif %}
  
     </article>
    {% endfor %}

</div>

<div class="posts-list" id="projects">

    {% for post in projects %}
  <article class="post-preview">

    {%- capture thumbnail -%}
      {% if post.thumbnail-img %}
        {{ post.thumbnail-img }}
      {% elsif post.cover-img %}
        {% if post.cover-img.first %}
          {{ post.cover-img[0].first.first }}
        {% else %}
          {{ post.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}
    {% assign thumbnail=thumbnail | strip %}

    {% if site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-normal">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}
    {% endif %}

    <a href="{{ post.url | absolute_url }}">
      <h2 class="post-title">{{ post.title }}</h2>

      {% if post.subtitle %}
        <h3 class="post-subtitle">
        {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>

    {% if thumbnail != "" %}
    <div class="post-image post-image-small">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    {% unless site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-short">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    <div class="post-entry">
      {% assign excerpt_length = site.excerpt_length | default: 50 %}
      {{ post.excerpt | strip_html | xml_escape | truncatewords: excerpt_length }}
      {% assign excerpt_word_count = post.excerpt | number_of_words %}
      {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
      {% endif %}
    </div>
    {% endunless %}

    {% if site.feed_show_tags != false and post.tags.size > 0 %}
    <div class="blog-tags">
      Keywords:
      {% for tag in post.tags %}
      <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
    </div>
    {% endif %}
  
     </article>
    {% endfor %}

</div>

<div class="posts-list" id="education">
</div>

<!-- Education Section
<section id="education">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Education</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">

            <li>
                <div class="timeline-image">
                  <img
                    class="img-circle img-responsive"
                    src="assets/img/WUSTL.jpg"
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Washington University in St. Louis</h4>
                    <h4 class="subheading">
                      Master of Science (M.S.) Aug 2022&#8211;Present
                    </h4>
                  </div>
                  <div class="timeline-body">
                      <p class="text-muted job-right">
                        Major in Engineering in Data Analytics and Statistics
                      </p>
                      <p class="text-muted">
                        GPA: 4.0 / 4.0
                      </p>
                      <p class="text-muted">Significant courses include:</p>
                      <ul class="text-muted">
                          <li>Data Warehouse</li>
                          <li>Airflow</li>
                          <li>Database management</li>
                          <li>Data Mining</li>
                          <li>Big Data</li>
                          <li>Data Modeling</li>
                          <li>Data Structure</li>
                      </ul>
                  </div>
                </div>
              </li>
  


            <li class="timeline-inverted">
              <div class="timeline-image">
                <img
                  class="img-circle img-responsive"
                  src="assets/img/unc.png"
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>University of North Carolina at Chapel Hill</h4>
                  <h4 class="subheading">
                    Bachelor of Science (B.S.) Aug 2018&#8211;Dec 2021
                  </h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted job-right">
                      Major in Computer Science and Mathematics, Minor in statistics
                    </p>
                    <p class="text-muted">
                        GPA: 4.0 / 4.0
                      </p>
                    <p class="text-muted">Significant courses include:</p>
                    <ul class="text-muted">
                        <li>Machine Learning</li>
                        <li>Big Data and Cloud Computing</li>
                        <li>Artificial Intelligence</li>
                        <li>Data Warehouse</li>
                        <li>Scalable Analysis (PySpark, Hadoop)</li>
                    </ul>
                </div>
              </div>
            </li>


            <li>
                <div class="timeline-image">
                  <img
                    class="img-circle img-responsive"
                    src="assets/img/rdfz.png"
                  />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>High School Affiliated to Renmin Univerisy of China</h4>
                    <h4 class="subheading">
                        Sep 2015&#8211;May 2018
                    </h4>
                  </div>
                  <div class="timeline-body">
                      <p class="text-muted">
                        Mathematical Modeling:
                        </p>
                        <ul class="text-muted">
                            <li>Won Prize: Honorable Mention Prize in MCM (2020), Finalist Prize in IMMC (2017) international and regional, invited to defend the thesis o Meritorious Prize in HIMCM (2016)</li>
                            <li>Team Leader in competitions, led three students</li>
                            <li>Teaching assistant of mathematical modeling course in high school, assisted teacher to prepare class materials and teach junior students mathematical modeling knowledge</li>
                            <li>Like & Subscribe (2020): analyzed the customer reviews of three products in Amazon using machine learning and time series</li>
                            <li>Time Lag (2017): calculated the earth’s shape and the best rote for artificial satellite using sphere and physics theorems</li>
                        </ul>
                  </div>
                </div>
              </li> -->
