p.job-left {
    text-align: left;
    padding-bottom: 2%;
  }
  
  ul.job-left {
    text-align: left;
  }
  
  p.job-right {
    padding-bottom: 2%;
  }
  
  p.job-role {
    padding-bottom: 0;
  }
  
  p.job-date {
    padding-bottom: 0;
    text-indent: 5%;
  }
  
  p.job-date-last {
    text-indent: 5%;
  }